.file-input {
    padding: 2rem 10rem;
    margin-top: 20vh;
    border: 3.5px dashed #c8c8c8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-input:hover {
    cursor: pointer;
    border: 3.5px solid #3A6AD6;
}

.file-input img {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0;
}

.file-input p {
    padding: 0;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.home-directions {
    font-weight: bold;
}

.home-directions li {
    margin: 1rem 0;
}