.header {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #3A6AD6;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.header-title {
    padding: 0 1rem;
}

.header-options {
    display: flex;
}

.header-option {
    height: 8vh;
    padding: 0 1rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-option:hover {
    background-color: #2e56b4;
}