/* TODO: CSS separate */

.App {
  background-color: white;
}

.routes-container {
  margin-top: 8vh;
  min-height: 84vh;
  display: flex;
  flex-direction: column;
}

.main {
  color: #3A6AD6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}